.input{
    border: none;
    margin-top: 41px;
    font-size: 14px;
    line-height: 1.61;
    letter-spacing: 0.21px;
    color: #bdbdbd;
    width: 345px;
    padding-bottom: 9.8px;
    border-bottom:0.3px solid #4f4f4f ;
    outline: none;

}