.fluid{
    margin-top: 119px;
    margin-bottom: 93px;
  
    .container{
        background-color: #fff;
        max-width: 1400px;
        width: 936px;
        margin: 0 auto;
        border-radius: 10px;
      
        .imgContainer{
         
            position: relative;
            .workspace{
                width: 100%;
                height: auto;
                border-radius:5px;
            }
            .back{
                height: 40px;
                width: 40px;
                background-color: #fff;
                border-radius: 27px;
                position: absolute;
                top: 57px;
                left: 52px;
                cursor: pointer;
                .arrow{
                    padding: 10px;
                    color: #333;
                    font-size: 20px;
                }
            }
            .logo{
                padding: 38px 35px 39.5px;
                height: 130px;
                width: 130px;
                border-radius: 125px;
                margin-left: 52px;
                border: 5px solid #fff;
                background-color: #fffc00;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: relative;
                margin-top: -100px;
               
                .snapchat{ 
                   position: absolute;   
                   height: auto;
                   width: 70%;
                  
                }
            }
        }

        .contentsContainer{
     
            padding: 0 52px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
 
            .titleContainer{
                .mainTitle{
                    font-size: 24px;
                    color: #000;
                }
                .address{
                    font-size: 14px;
                    color: #000;
                    padding-top: 17px;
                }
            }
           
            .contentBox{
                padding-top: 42px;
                display: inline-flex;
               
             
               .box{  
                   margin-right: 17px;
                   width: 259px;
                   height: 100px;
                   border-radius: 8px;
                   background-color: #f3f7f9;
                    padding: 18px 0 22px 24px;
                    .role{
                           padding-top: 18px;
                           padding-bottom: 12px;
                           color: #828282;
                           line-height: 1.61px;
                           font-weight: 500;
                           font-size: 14px;
                       }
                       .roleTitle{
                           margin-top: 12px;
                           line-height: 1.61px;
                           font-size: 16px;
                           font-weight: bold;
                           color: #333;
                       }
                   
                   
               }
            }
        }


        .overviewContainer{
        
            margin-top: 60px;
            .heading{
                font-size: 20px;
                font-weight: bold;
                color: #000;
            }
            .textContent{
                padding-top: 16px;
                .paragraphText{
                    line-height: 1.61;
                    letter-spacing: 0.24px;
                    color: #333;
                    font-size: 16px;
                    color: #333;
                }
            }
        }

        .descriptionContainer{
        
            .descriptionTitle{
                padding-top: 40px;
                color: #000;
                font-size: 20px;
                font-weight: bold;
            }
            .descriptionLists{
                padding-top: 20px;

                .descriptionListItem{
                    list-style-type: none;
                    padding-bottom: 24px;
                    font-size: 16px;
                    line-height: 1.61;
                    letter-spacing: 0.24px;
                    color: #333;
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        background: #64babb;
                        border-radius: 33px;
                        z-index: 1;
                        left: 0;
                        top: 8px;
                    }
                }
            }
        }


        .languagesContainer{
            margin-top: 40px;
           
            .languageHeading{
                font-size: 20px;
                color:#000;
                }
                .languageBox{
                    margin-top: 36px;
                   
                    
                    .language{
                     
                        background-color: #f3f7f9;
                        border-radius: 12px;
                        padding: 15px 18px;
                        font-size: 14px;
                        color: #5da5a4;
                        border: 0;
                        margin-right: 12px;
                    }
            }
        }

        .toolsContainer{
            margin-top: 40px;
           
            .toolsHeading{
          
                font-size: 20px;
                color:#000;
                }
                .toolBox{
                    margin-top: 30px;
            
                    
                    .tool{
                        background-color: #f3f7f9;
                        border-radius: 12px;
                        padding: 15px 18px;
                        font-size: 14px;
                        color: #5da5a4;
                        border: 0;
                        margin-right: 12px;
                    }
            }
        }

        .applyBtn{
            max-width: 824px;
            margin-top: 74px;
            padding: 21px 0;
            border-radius: 8px;
            background-color: #5da5a4;
            margin-bottom: 65px;
            border: 0;
            color: #fff;
            font-size: 14px;
            letter-spacing: 0.7px;
            cursor: pointer;
        }
     
    }
}


@media screen and(max-width:768px) {

    .fluid{
      margin-top: 0;
      margin-bottom: 0;
        .container{
            width: 100%;
            .imgContainer{
                .workspace{
                    width: 100%;
                    height: auto;
                    min-height: 220px;
                }
                .logo{
                    margin-top: -65px;
                    margin-left: 24px; 
                    width: 110px;
                    height: 110px;  
                }
                .back{
                    top: 12px;
                    left: 36px;
                }
               
            }
           .contentsContainer{
                padding: 0 24px;
            .contentBox{
                display: flex;
                flex-wrap: wrap;
                .box{
                    margin-top: 30px;
                    
                }
            }
           }
            


            .toolsContainer{
                .toolBox{
                    flex-wrap: wrap;
                
                    .tool{
                        margin-top:12px;
                    }
                }
            }

            .languagesContainer{
                .languageHeading{
                    font-size: 18px;
                }
                .languageBox{
                    flex-wrap: wrap;
              
                    .language{
                        margin-top:12px;
                    }
                }
            }
        }
    }
    
}


