.fluid {
  margin-top: 119px;
  margin-bottom: 93px;
}

.fluid .container {
  background-color: #fff;
  max-width: 1400px;
  width: 936px;
  margin: 0 auto;
  border-radius: 10px;
}

.fluid .container .imgContainer {
  position: relative;
}

.fluid .container .imgContainer .workspace {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.fluid .container .imgContainer .back {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 27px;
  position: absolute;
  top: 57px;
  left: 52px;
  cursor: pointer;
}

.fluid .container .imgContainer .back .arrow {
  padding: 10px;
  color: #333;
  font-size: 20px;
}

.fluid .container .imgContainer .logo {
  padding: 38px 35px 39.5px;
  height: 130px;
  width: 130px;
  border-radius: 125px;
  margin-left: 52px;
  border: 5px solid #fff;
  background-color: #fffc00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  margin-top: -100px;
}

.fluid .container .imgContainer .logo .snapchat {
  position: absolute;
  height: auto;
  width: 70%;
}

.fluid .container .contentsContainer {
  padding: 0 52px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fluid .container .contentsContainer .titleContainer .mainTitle {
  font-size: 24px;
  color: #000;
}

.fluid .container .contentsContainer .titleContainer .address {
  font-size: 14px;
  color: #000;
  padding-top: 17px;
}

.fluid .container .contentsContainer .contentBox {
  padding-top: 42px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fluid .container .contentsContainer .contentBox .box {
  margin-right: 17px;
  width: 259px;
  height: 100px;
  border-radius: 8px;
  background-color: #f3f7f9;
  padding: 18px 0 22px 24px;
}

.fluid .container .contentsContainer .contentBox .box .role {
  padding-top: 18px;
  padding-bottom: 12px;
  color: #828282;
  line-height: 1.61px;
  font-weight: 500;
  font-size: 14px;
}

.fluid .container .contentsContainer .contentBox .box .roleTitle {
  margin-top: 12px;
  line-height: 1.61px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.fluid .container .overviewContainer {
  margin-top: 60px;
}

.fluid .container .overviewContainer .heading {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.fluid .container .overviewContainer .textContent {
  padding-top: 16px;
}

.fluid .container .overviewContainer .textContent .paragraphText {
  line-height: 1.61;
  letter-spacing: 0.24px;
  color: #333;
  font-size: 16px;
  color: #333;
}

.fluid .container .descriptionContainer .descriptionTitle {
  padding-top: 40px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.fluid .container .descriptionContainer .descriptionLists {
  padding-top: 20px;
}

.fluid .container .descriptionContainer .descriptionLists .descriptionListItem {
  list-style-type: none;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.61;
  letter-spacing: 0.24px;
  color: #333;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.fluid .container .descriptionContainer .descriptionLists .descriptionListItem::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #64babb;
  border-radius: 33px;
  z-index: 1;
  left: 0;
  top: 8px;
}

.fluid .container .languagesContainer {
  margin-top: 40px;
}

.fluid .container .languagesContainer .languageHeading {
  font-size: 20px;
  color: #000;
}

.fluid .container .languagesContainer .languageBox {
  margin-top: 36px;
}

.fluid .container .languagesContainer .languageBox .language {
  background-color: #f3f7f9;
  border-radius: 12px;
  padding: 15px 18px;
  font-size: 14px;
  color: #5da5a4;
  border: 0;
  margin-right: 12px;
}

.fluid .container .toolsContainer {
  margin-top: 40px;
}

.fluid .container .toolsContainer .toolsHeading {
  font-size: 20px;
  color: #000;
}

.fluid .container .toolsContainer .toolBox {
  margin-top: 30px;
}

.fluid .container .toolsContainer .toolBox .tool {
  background-color: #f3f7f9;
  border-radius: 12px;
  padding: 15px 18px;
  font-size: 14px;
  color: #5da5a4;
  border: 0;
  margin-right: 12px;
}

.fluid .container .applyBtn {
  max-width: 824px;
  margin-top: 74px;
  padding: 21px 0;
  border-radius: 8px;
  background-color: #5da5a4;
  margin-bottom: 65px;
  border: 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.7px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .fluid {
    margin-top: 0;
    margin-bottom: 0;
  }
  .fluid .container {
    width: 100%;
  }
  .fluid .container .imgContainer .workspace {
    width: 100%;
    height: auto;
    min-height: 220px;
  }
  .fluid .container .imgContainer .logo {
    margin-top: -65px;
    margin-left: 24px;
    width: 110px;
    height: 110px;
  }
  .fluid .container .imgContainer .back {
    top: 12px;
    left: 36px;
  }
  .fluid .container .contentsContainer {
    padding: 0 24px;
  }
  .fluid .container .contentsContainer .contentBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fluid .container .contentsContainer .contentBox .box {
    margin-top: 30px;
  }
  .fluid .container .toolsContainer .toolBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fluid .container .toolsContainer .toolBox .tool {
    margin-top: 12px;
  }
  .fluid .container .languagesContainer .languageHeading {
    font-size: 18px;
  }
  .fluid .container .languagesContainer .languageBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fluid .container .languagesContainer .languageBox .language {
    margin-top: 12px;
  }
}
/*# sourceMappingURL=Details.module.css.map */