.fluid {
  margin-top: 119px;
  margin-bottom: 93px;
}

.fluid .container {
  background-color: #fff;
  max-width: 1400px;
  width: 936px;
  margin: 0 auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fluid .container .imgContainer {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 52px;
}

.fluid .container .imgContainer .workspace {
  width: 100%;
  height: 320px;
  border-radius: 10px;
}

.fluid .container .imgContainer .back {
  height: 40px;
  width: 40px;
  background-color: #0000ff;
  border-radius: 27px;
  position: absolute;
  top: 57px;
  left: 5.6%;
  cursor: pointer;
}

.fluid .container .imgContainer .back .arrow {
  padding: 10px;
  color: #fff;
  font-size: 20px;
}

.fluid .container .imgContainer .logo {
  padding: 38px 35px 39.5px;
  height: 130px;
  width: 130px;
  border-radius: 125px;
  margin-left: 52px;
  border: 5px solid #fff;
  background-color: #fffc00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 256px;
}

.fluid .container .imgContainer .logo .snapchat {
  position: absolute;
  height: 53px;
  width: 60px;
}

.fluid .container .contentsContainer {
  max-width: 936px;
  padding: 0 52px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fluid .container .contentsContainer .mainTitle {
  padding-top: 20px;
  font-size: 24px;
  color: #000;
}

.fluid .container .contentsContainer .address {
  font-size: 14px;
  color: #000;
  padding-top: 17px;
}

.fluid .container .contentsContainer .contentBox {
  padding-top: 42px;
  padding-left: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 936px;
  width: 100%;
}

.fluid .container .contentsContainer .contentBox .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 24px;
  width: 259px;
  height: 100px;
  padding: 18px 0 22px 24px;
  border-radius: 8px;
  background-color: #f3f7f9;
}

.fluid .container .contentsContainer .contentBox .box .role {
  margin-top: 18px;
  color: #828282;
  line-height: 1.61px;
  font-weight: 500;
  font-size: 14px;
}

.fluid .container .contentsContainer .contentBox .box .roleTitle {
  margin-top: 12px;
  line-height: 1.61px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.fluid .container .overviewContainer {
  max-width: 936px;
  margin-top: 60px;
}

.fluid .container .overviewContainer .heading {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.fluid .container .overviewContainer .textContent {
  padding-top: 16px;
}

.fluid .container .overviewContainer .textContent .paragraphText {
  line-height: 1.61;
  letter-spacing: 0.24px;
  color: #333;
  font-size: 16px;
  color: #333;
}

.fluid .container .descriptionContainer {
  max-width: 936px;
}

.fluid .container .descriptionContainer .descriptionTitle {
  padding-top: 40px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.fluid .container .descriptionContainer .descriptionLists {
  padding-top: 20px;
}

.fluid .container .descriptionContainer .descriptionLists .descriptionListItem {
  list-style-type: none;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.61;
  letter-spacing: 0.24px;
  color: #333;
  position: relative;
  padding-left: 20px;
}

.fluid .container .descriptionContainer .descriptionLists .descriptionListItem::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #64babb;
  border-radius: 33px;
  z-index: 1;
  left: 0;
  top: 8px;
}

.fluid .container .languagesContainer {
  margin-top: 40px;
  width: 100%;
}

.fluid .container .languagesContainer .languageHeading {
  font-size: 20px;
  color: #000;
}

.fluid .container .languagesContainer .languageBox {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fluid .container .languagesContainer .languageBox .language {
  background-color: #f3f7f9;
  border-radius: 12px;
  padding: 15px 18px;
  font-size: 14px;
  color: #5da5a4;
  border: 0;
}

.fluid .container .toolsContainer {
  margin-top: 40px;
  width: 100%;
}

.fluid .container .toolsContainer .toolsHeading {
  font-size: 20px;
  color: #000;
}

.fluid .container .toolsContainer .toolBox {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fluid .container .toolsContainer .toolBox .tool {
  background-color: #f3f7f9;
  border-radius: 12px;
  padding: 15px 18px;
  font-size: 14px;
  color: #5da5a4;
  border: 0;
}

.fluid .container .applyBtn {
  max-width: 824px;
  width: 100%;
  margin-top: 74px;
  padding: 21px 0;
  border-radius: 8px;
  background-color: #5da5a4;
  margin-bottom: 65px;
  border: 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.7px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .fluid .container {
    width: 100%;
  }
  .fluid .container .imgContainer .workspace {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .fluid .container .imgContainer .back {
    top: 0;
  }
  .fluid .container .contentBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fluid .container .contentBox .box {
    margin-top: 30px;
  }
  .fluid .container .toolsContainer .toolBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 12px;
  }
  .fluid .container .toolsContainer .toolBox .tool {
    margin-top: 10px;
  }
  .fluid .container .languagesContainer .languageHeading {
    font-size: 18px;
  }
  .fluid .container .languagesContainer .languageBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 12px;
  }
  .fluid .container .languagesContainer .languageBox .language {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=Details.module.css.map */